.advantages__item {
  position: relative;
  font-family: @base-font;
  list-style: none;
  text-transform: uppercase;
}

.advantages__triangle {
  position: absolute;
  width: 100%;
  max-height: 40px;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

//ГОЛУБЫЕ БЛОКИ
.content-item {
  background-color: @base-color;
  color: #ffffff;
}

.content-item__header {
  width: 280px;
  margin: 0 auto;
  padding-top: 35px;
  text-align: center;
}

.content-item__title {
  margin: 0;
  font-weight: bold;
  font-size: @text-big;
}

.content-item__number {
  margin: 0;
  padding: 7px;
}

.content-item__description {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 40px;
  line-height: 21px;
}

.content-item__image {
  margin: 0;
  min-height: 260px;
  width: auto;
}

.content-item__image--city {
  background: url("../img/main-city-mobile@1x.jpg") no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
}

.content-item__image--bridge {
  background: url("../img/main-bridge-mobile@1x.jpg") no-repeat;
  background-color: #ffffff;
  background-position: center;
}

//СЕРЫЕ БЛОКИ

.no-content-item {
  background-color: @light-gray;
}

.no-content-item__header {
  padding-top: 28px;
  padding-bottom: 26px;
  width: 270px;
  margin: 0 auto;
  text-align: center;
  border-bottom: solid 1px rgb(206, 206, 206);
}

.no-content-item__title {
  margin: 0;
  font-weight: bold;
  font-size: @text-big;
}

.no-content-item__number {
  margin: 0;
  padding: 7px;
  color: #333333;
}

.no-content-item__description {
  margin: 0;
  padding-top: 5px;
  line-height: 21px;
  color: #333333;
}

.no-content-item__header--noborder {
  border: none;
}

@media (min-width: @tablet-width) {
  .advantages__triangle {
    display: none;
  }

  .advantages__wrapper {
    width: @tablet-width;
    min-width: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__wrapper--no-content {
    justify-content: space-around;
    background-color: @light-gray;
  }

  .advantages__wrapper--bridge {
    flex-direction: row-reverse;
  }

  .content-item__header {
    margin: 0;
    width: 190px;
    padding-top: 45px;
    padding-bottom: 0;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
  }

  .content-item__image {
    width: 320px;
  }

  .content-item__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: @text-biggest;
  }

  .content-item__description {
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }

  .no-content-item__header {
    width: 190px;
    margin: 0 auto;
    padding: 0;
    padding-top: 38px;
    padding-bottom: 46px;
    border-bottom: none;
  }

  .no-content-item__title {
    font-size: @text-biggest;
    padding-left: 30px;
    padding-right: 30px;
  }

  .no-content-item__description {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 1120px;
    min-width: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .advantages__wrapper--bridge {
    flex-direction: row-reverse;
  }

  .content-item__header {
    width: 260px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 48px;
  }

  .content-item__title {
    padding-right: 40px;
    padding-left: 40px;
  }

  .content-item__description {
    padding-top: 5px;
  }

  .content-item__image {
    min-height: 240px;
  }

  .no-content-item__header {
    width: 320px;
    padding-top: 40px;
    padding-bottom: 46px;
    border-bottom: none;
  }

  .no-content-item__title {
    font-size: @text-biggest;
    padding-left: 90px;
    padding-right: 90px;
  }

  .no-content-item__number {
    padding: 5px;
  }

  .no-content-item__description {
    padding: 10px;
  }
}
