.advantages__item {
  font-family: @base-font;
  list-style: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .advantages__triangle {
    display: none;
  }

  .advantages__wrapper {
    width: 100%;
    height: 255px;
    min-width: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .advantages__wrapper--no-content {
    justify-content: space-around;
    background-color: @light-gray;
  }

  .advantages__wrapper--bridge {
    flex-direction: row-reverse;
  }
}

@media (min-width: @desktop-width) {
  .advantages__wrapper {
    width: 100%;
    min-width: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }

  .advantages__wrapper--bridge {
    flex-direction: row-reverse;
  }
}
