//ul li {
//  display: inline-block;
//  width: 100%;
//}
.advantages-list {
  .all-lists;
}

.advantages-list__header {
  margin: 0 20px;
  padding-top: 41px;
  padding-bottom: 33px;
  border-bottom: solid 1px rgb(206, 206, 206);
}

.advantages-list__header--noborder {
  border: none;
}

.advantages-list__header--no-content {
  padding-top: 19px;
  padding-bottom: 25px;
}

.advantages-list__item {
  list-style: none;
  text-transform: uppercase;
  background-color: rgb(234, 234, 234);
}

.advantages-list__item--content {
  background-color: @base-color;
  color: #ffffff;
  border-bottom: none;
}

.advantages-list__item--content h3 {
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.advantages-list__item--content p {
  color: #ffffff;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 5px;
}

.advantages-list__title {
  font-family: @base-font-bold;
  font-size: @text-big;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 7px;
}

.advantages-list__number {
  font-size: @text-small;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-bottom: 13px;
}

.advantages-list__description {
  font-size: @text-small;
  text-align: center;
  color: #333333;
  margin: 0;
  line-height: 22px;
}

.advantages-list__image {
  margin: 0;
  height: 260px;
  width: 320px;
}

.advantages-list__image--city {
  background: url("../img/main-city-mobile@1x.jpg") no-repeat;
}

.advantages-list__image--bridge {
  background: url("../img/main-bridge-mobile@1x.jpg") no-repeat;
}
