.button {
  border: none;
  background: none;
  cursor: pointer;
  background-color: @base-color;
  font-family: @base-font;
  font-size: @text-biggest;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  display: block;
  width: 248px;
  margin: auto;
}

.button:hover {
  background-color: @color-hover;
}

.button:active {
  background-color: @color-active;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: rgb(233, 233, 233);
  color: #ffffff;
}
