.city-list {
  .all-lists;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 33px;
  width: 280px;
}

.city-list__item {
  margin: 0;
  margin-bottom: 22px;
}

.city-list__item:last-child {
  margin-bottom: 0;
}

.city-list__title {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 14px;
  color: #000000;
  padding-left: 50px;
  font-weight: bold;
  font-size: @text-big;
}

p.city-list__discription {
  margin: 0;
  padding-left: 50px;
  line-height: 21px;
  color: #333333;
}

.city-list__item--housing {
  background: url("../img/icon-house.svg") no-repeat;
  background-size: 39px 37px;
}

.city-list__item--souvenirs {
  background: url("../img/icon-gift.svg") no-repeat;
  background-size: 39px 37px;
}

.city-list__item--food {
  background: url("../img/icon-burger.svg") no-repeat;
  background-size: 39px 37px;
}
