.copyright__text {
  display: inline-block;
  font-family: @base-font;
  font-size: @text-small;
  text-align: left;
  margin: 0;
}

.copyright__link {
  min-height: 34px;
  width: 28px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.copyright__logo {
  fill: rgb(0, 0, 0);
}

.copyright__logo:hover {
  fill: @base-color;
}

.copyright__logo:active {
  fill: rgb(174, 174, 174);
}

@media (min-width: @tablet-width) {
  .copyright__text {
    padding-top: 10px;
  }
}
