.feedback__form {
  margin: 0 auto;
  margin-bottom: 39px;
  background-color: #ffffff;
}

.feedback__box {
  border-bottom: @border;
}

.feedback__fieldset {
  width: 280px;
  margin: 0 auto;
  border: none;
}

.feedback__legend {
  font-weight: bold;
  font-size: @text-big;
  text-transform: uppercase;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 13px;
}

.feedback__text-area {
  min-height: 140px;
  width: 280px;
  border: none;
  font-weight: bold;
  font-size: @text-big;
  padding: 15px;
  padding-left: 20px;
  background-color: @light-gray;
  margin-bottom: 24px;
}

.feedback-button {
  width: 280px;
  min-height: 57px;
  text-transform: uppercase;
  padding: 10px;
}

::-webkit-input-placeholder {
  color: #000000;
}

::-moz-placeholder {
  color: #000000;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #000000;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #000000;
}
