.form-person__label {
  font-family: @base-font;
  font-size: @text-small;
  text-transform: uppercase;
}

.form-person__input {
  margin-bottom: 12px;
  margin-left: 11px;
  min-height: 45px;
  font-weight: bold;
  font-size: @text-big;
  padding: 10px;
  padding-left: 20px;
  border: none;
  background-color: @light-gray;
}

.form-person__input--name {
  width: 71%;
}

.form-person__input--surname {
  width: 57%;
}

.form-person__input--patronymic {
  width: 59%;
}
