.form-contact {
  padding-bottom: 15px;
}

.form-contact__label {
  font-family: @base-font;
  font-size: @text-small;
  text-transform: uppercase;
  padding-left: 20px;
}

.form-contacts__input {
  width: 93%;
  margin-bottom: 10px;
}
