.form-person {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 280px;
}

.form-person__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
}

.form-person__form-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
}

.form-person__label {
  font-family: @base-font;
  font-size: @text-small;
  text-transform: uppercase;
}

.form-person__input {
  padding: 7px;
  padding-left: 20px;
  margin-bottom: 19px;
  margin-left: 16px;
  min-height: 45px;
  width: 100%;
  font-weight: bold;
  font-size: @text-big;
  border: none;
  background-color: @light-gray;
}

.form-person__input::placeholder {
  color: #000000;
}

.form-person__input:hover {
  background-color: rgb(223, 223, 223);
}

.form-person__input:focus {
  background-color: #ffffff;
  outline: 4px solid rgb(223, 223, 223);
}

@media (min-width: @tablet-width) {
  .form-person {
    //Рассчитывается ширина контейнера: ((внутренний контейнер) разделить пополам - левый отступ - рамку)
    width: calc((@tablet-width - 120px) / 2 - 57px - 1px);
    padding-left: 57px;
    padding-top: 47px;
    border-left: @border;
    padding-bottom: 7px;
  }

  .form-person__form-block {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .form-person {
    width: calc((@desktop-width - 238px) / 2 - 80px - 1px);
    padding-left: 80px;
    padding-top: 40px;
    border-left: @border;
    margin-bottom: 9px;
  }
}
