.form-person__label{
  font-family: @base-font;
  font-size: @text-small;
  text-transform: uppercase;
}
.form-person__input{
  margin-bottom: 12px;
  margin-left: 11px;
}
.form-person__input--name{
  width: 71%;
}
.form-person__input--surname{
  width: 57%;
}
.form-person__input--patronymic{
  width: 59%;
}
