.form-contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
  min-width: 0;
  width: 280px;
}

.form-contact__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-contact__form-block {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
}

.form-contact__label {
  font-family: @base-font;
  font-size: @text-small;
  text-transform: uppercase;
  padding-left: 20px;
}

.form-contact__input {
  padding: 6px;
  padding-left: 20px;
  margin-top: 7px;
  margin-bottom: 12px;
  min-height: 45px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  background-color: @light-gray;
  width: 100%;
}

.form-contact__mail {
  position: absolute;
  top: 33px;
  right: 0;
  padding: 18px;
  background-color: rgb(224, 224, 224);
}

.form-contact__phone {
  position: absolute;
  top: 33px;
  left: 221px;
  padding: 19px;
  padding-bottom: 18px;
  background-color: rgb(224, 224, 224);
}

.form-contact__input:hover {
  background-color: rgb(223, 223, 223);
}

.form-contact__input:focus {
  background-color: #ffffff;
  outline: 4px solid rgb(223, 223, 223);
}

.form-contact__label--short {
  display: none;
}

@media (min-width: @tablet-width) {
  .form-contact {
    width: calc(@tablet-width - 120px);
    border-top: @border;
    margin-bottom: 0;
    min-width: 0;
  }

  .feedback__legend--form-contact {
    padding-left: 65px;
    padding-right: 65px;
    margin-bottom: 6px;
  }

  .form-contact__item-wrapper {
    display: flex;
    width: 100%;
    min-width: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .form-contact__form-block {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-contact__input {
    width: 100%;
  }

  .form-contact__input--tel {
    margin-bottom: 25px;
  }

  .form-contact__phone {
    top: 33px;
    left: 592px;
    padding: 18px;
  }
}

@media (min-width: @desktop-width) {
  .form-contact {
    width: calc(1120px - 220px);
  }

  .form-contact__item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__legend--form-contact {
    margin-bottom: 40px;
  }

  .form-contact__label {
    display: inline;
    padding-left: 0;
    padding-right: 9px;
  }

  .form-contact__input {
    width: calc((1120px - 220px) / 2 - 180px);
  }

  .form-contact__input--tel {
    margin-bottom: 0;
  }

  .form-contact__label--full {
    display: none;
  }

  .form-contact__label--short {
    display: inline;
  }

  .form-contact__mail {
    top: 7px;
    right: 0;
  }

  .form-contact__phone {
    top: 7px;
    left: 321px;
  }
}
