.hotels {
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 50px;
}

.hotels__header {
  width: 280px;
  margin: 0 auto;
}

.hotels__title {
  font-weight: bold;
  font-size: @text-biggest;
  letter-spacing: 1px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
}

.hotels__description {
  font-family: @base-font;
  font-size: @text-small;
  color: #333333;
  text-align: center;
  margin: 0;
  line-height: 23px;
}

.hotels__to-search {
  margin-top: 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: @text-biggest;
  padding: 16px;
}

@media (min-width: @tablet-width) {
  .hotels {
    padding-top: 57px;
    padding-bottom: 60px;
  }

  .hotels__header {
    width: 400px;
  }

  .hotels__title {
    font-size: calc(@text-biggest * 1.5);
    margin-bottom: 32px;
    letter-spacing: 0;
  }

  .hotels__to-search {
    margin-top: 42px;
    width: 424px;
    letter-spacing: 0;
  }
}

@media (min-width: @desktop-width) {
  .hotels__header {
    width: 800px;
    margin: 0 auto;
  }

  .hotels__title {
    margin-bottom: 27px;
    font-size: 30px;
  }

  .hotels__description {
    padding: 0 200px;
  }

  .hotels__to-search {
    width: 400px;
  }
}
