.intro {
  text-transform: uppercase;
  position: relative;
}

.intro__header {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 18px;
}

.intro__title {
  font-weight: bold;
  font-size: @text-big;
  color: #000000;
  text-align: center;
}

.intro__subtitle {
  font-family: @base-font;
  font-size: @text-small;
  color: #333333;
  text-align: center;
  margin: 0;
  padding-top: 15px;
}

.intro--small {
  padding-bottom: 1px;
}

.intro--photo {
  padding-bottom: 12px;
}

.intro__header--small {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 15px;
  line-height: 24px;
}

.intro__header--photo {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 15px;
  line-height: 24px;
}

.intro__triangle {
  position: absolute;
  width: 100%;
  bottom: -25px;
  z-index: 1000;
}

@media (min-width: 400px) {
  .intro__triangle {
    bottom: -35px;
  }
}

@media (min-width: 550px) {
  .intro__triangle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .intro__header {
    width: 700px;
    padding-top: 35px;
    padding-bottom: 49px;
  }

  .intro__title {
    font-weight: bold;
    font-size: @text-biggest;
    color: #000000;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
  }

  .intro--small {
    margin: 0 auto;
    border: none;
    padding-bottom: 5px;
  }

  .intro--small .intro__title {
    font-size: 30px;
    margin-bottom: 18px;
  }

  .intro__header--small {
    padding: 0;
    padding-top: 55px;
    width: 570px;
    margin: 0 auto;
  }

  .intro--photo{
    padding-bottom: 16px;
  }

  .intro__header--photo {
    padding: 0;
    padding-top: 55px;
    width: 570px;
    margin: 0 auto;
  }

  .intro--photo .intro__title {
    font-size: 30px;
  }
}

@media (min-width: @desktop-width) {
  .intro__header {
    width: 800px;
    padding-top: 35px;
    padding-bottom: 49px;
  }

  .intro__title {
    padding-bottom: 15px;
  }

  .intro__subtitle {
    padding: 0;
  }

  .intro--small {
    padding-bottom: 0;
  }

  .intro__header--small {
    padding-top: 114px;
    padding-bottom: 59px;
    width: 650px;
    margin: 0 auto;
  }

  .intro__header--small .intro__subtitle {
    padding-top: 20px;
  }

  .intro--small .intro__title {
    padding: 0;
    margin: 0;
    padding-bottom: 12px;
  }

  .intro__header--photo{
    padding-top: 93px;
    padding-bottom: 55px;
    width: 430px;
  }

  .intro--photo .intro__title{
    padding-top: 0;
    padding-bottom: 0;
  }

  .intro--photo .intro__subtitle {
    padding-top: 13px;
  }
}
