.intro{
  text-transform: uppercase;
}
.intro__header{
  padding-top: 32px;
  padding-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.intro__title{
  font-family: @base-font-bold;
  font-size: @text-big;
  color: #000000;
  text-align: center;
}

.intro__subtitle{
  font-family: @base-font;
  font-size: @text-small;
  color: #333333;
  text-align: center;
  margin: 0;
  padding-top: 13px;
}
.intro--small{
  border-bottom: @border;
}
.intro__header--small{
  padding-bottom: 17px;
  line-height: 24px;
}
