.main-image {
  position: relative;
  width: auto;
  min-height: 387px;
  margin: 0 auto;
  background-color: rgb(204, 224, 236);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 765px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.main-image__text {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 88px;
}

.main-image--small {
  width: auto;
  min-height: 158px;
  background-color: rgb(204, 224, 236);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 60% 80%;
  background-size: 765px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.main-image__text--small {
  display: block;
  width: 229px;
  margin: 0 auto;
  padding-top: 50px;
}

.main-image__triangle {
  display: block;
  position: absolute;
  width: 100%;
  bottom: -0.3px;
}

.main-image__triangle--small {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-image {
    position: relative;
    min-height: 524px;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .main-image__text {
    width: 460px;
    margin: 0 auto;
    padding-top: 78px;
  }

  .main-image--small {
    min-height: 297px;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .main-image__text--small {
    width: 460px;
    padding-top: 100px;
    margin: 0 auto;
  }

  .main-image__triangle {
    width: 100%;
    left: 0;
    bottom: -27px;
  }

  .main-image__triangle--small {
    padding: 0;
    display: block;
    position: absolute;
    width: calc(@tablet-width - 70px);
    bottom: -30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

}

@media (min-width: @desktop-width) {
  .main-image {
    width: 100%;
    min-height: 488px;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-image__text {
    width: 435px;
    margin: 0 auto;
    padding-top: 70px;
  }

  .main-image--small {
    min-height: 285px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-image__text--small {
    width: 430px;
    padding-top: 100px;
  }
}
