.main-nav {
  position: relative;
  width: auto;
  margin: 0 auto;
  background: @base-color;
  min-height: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 24px;
  width: 26px;
  height: 4px;
  background-color: @base-color;
  box-shadow: 0 10px 0 0 @base-color, 0 20px 0 0 @base-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgb(255, 255, 255), 0 16px 0 0 rgb(255, 255, 255);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: 24px;
    width: 30px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgb(255, 255, 255);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (max-width: 767px) {
  .main-nav--closed .site-list__item:not(:last-child) {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    position: static;
    background: #ffffff;
    width: @tablet-width;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1120px;
  }
}
