.map {
  height: 345px;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .map {
    height: 355px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .map {
    height: 325px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
