.page-header {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  height: 279px;
  background: #ffffff;
}

.page-header__logo-image {
  margin-left: 57px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    height: 50px;
  }

  .page-header__logo {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1120px;
  }
}
