.page-header {
  width: auto;
  margin: 0 auto;
  text-align: center;
  background: #ffffff;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: auto;
    height: 55px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 100%;
  }
}
