.site-list {
  .all-lists;
  background-color: @base-color;
  font-size: @text-big;
  font-family: @base-font-bold;
  text-align: center;
  text-transform: uppercase;
}

.site-list__item--active {
  background-color: #5496bd;
}

.site-list__item:hover {
  background-color: @color-hover;
}

.site-list__item:active {
  background-color: @color-active;
}

.site-list__item a {
  display: block;
  vertical-align: middle;
  padding: 13px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.site-list__item a:active {
  color: rgba(255, 255, 255, 0.3);
}
