.social {
  margin-top: 35px;
  margin-bottom: 28px;
}

.social__link {
  min-height: 47px;
  width: 47px;
  display: inline-block;
  background-color: @base-color;
  vertical-align: middle;
  margin-left: 2px;
}

.social__link:first-child {
  margin-left: 0;
}

.social__link--twitter {
  background-image: url("../img/icon-twitter.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.social__link--facebook {
  background-image: url("../img/icon-facebook.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.social__link--youtube {
  background-image: url("../img/icon-youtube.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.social__link--twitter:active {
  background-image: url("../img/icon-twitter-op.svg");
}

.social__link--facebook:active {
  background-image: url("../img/icon-facebook-op.svg");
}

.social__link--youtube:active {
  background-image: url("../img/icon-youtube-op.svg");
}

@media (min-width: @tablet-width) {
  .social {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .social {
    margin-right: 85px;
  }
}
