.video__header {
  width: 320px;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 31px;
  text-align: center;
}

.video__title {
  font-weight: bold;
  font-size: @text-big;
  text-transform: uppercase;
  margin: 20px;
  margin-bottom: 27px;
}

.video__subtitle {
  font-family: @base-font;
  font-size: @text-small;
  text-transform: uppercase;
  margin: 0;
  line-height: 23px;
}

.video__video-pleer {
  display: block;
  margin: 0 auto;
  margin-bottom: 51px;
  min-height: 260px;
}

@media (min-width: @tablet-width) {
  .video {
    width: calc(@tablet-width - 120px);
    margin: 0 auto;
  }

  .video__header {
    width: calc(@tablet-width / 1.5);
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 72px;
  }

  .video__title {
    font-size: calc(@text-biggest * 1.5);
    margin-top: 0;
    margin-bottom: 30px;
  }

  .video__video-pleer {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding-bottom: 42px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    width: 1120px;
  }

  .video__video-pleer {
    height: 484px;
    width: calc(1120px / 1.5);
    margin: 0 auto;
    padding-bottom: 78px;
  }
}

