.video__header {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 11px;
  padding-bottom: 31px;
  text-align: center;
}

.video__title {
  font-weight: bold;
  font-size: @text-big;
  text-transform: uppercase;
  margin: 20px;
  margin-bottom: 27px;
}

.video__subtitle {
  font-family: @base-font;
  font-size: @text-small;
  text-transform: uppercase;
  margin: 0;
  line-height: 23px;
}

.video__video-pleer {
  margin-bottom: 101px;
}

@media (min-width: @tablet-width) {
  .video {
    width: calc(@tablet-width - 120px);
    margin: 0 auto;
  }

  .video__header {
    margin-left: 55px;
    margin-right: 55px;
    padding-top: 13px;
    padding-bottom: 0;
  }

  .video__title {
    font-size: calc(@text-biggest * 1.5);
    margin-top: 0;
    margin-bottom: 30px;
  }

  .video__video-pleer {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
  }
}
